name: carousel_slider
description: A carousel slider widget, support infinite scroll and custom child widget.
homepage: https://github.com/serenader2014/flutter_carousel_slider
repository: https://github.com/serenader2014/flutter_carousel_slider
version: 2.3.4

environment:
  sdk: ">=2.6.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
